USE [master]
GO
/****** Object:  Database [CWT]    Script Date: 5/18/2018 12:55:58 AM ******/
CREATE DATABASE [CWT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CWT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CWT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CWT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CWT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CWT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CWT]
GO
USE [CWT]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/18/2018 12:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Email]) VALUES (1, N'Husein', N'Lampard', N'hlampard0@spotify.com')
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Email]) VALUES (2, N'Benton', N'Gerb', N'bgerb1@irs.gov')
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Email]) VALUES (3, N'Merilee', N'Lewisham', N'mlewisham2@simplemachines.org')
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
USE [master]
GO
